.navv{
    background-image: linear-gradient(to right,#1c2846,	#506db2);
    color:white;

}
.toast-container{
    opacity: 1;
    color: black;
}
.toast-body{
    color:black;
    opacity: 1;
}
.agog{
    color:#8d9bb2
}